//Breakpoints
$mobile: 320px;
$tablet: 720px;
$desktop: 1200px;
$large: 1560px;

//Colors
$color_main: #f8f8f8;
$color_accent: #dd194f;
$color_white: #fff;
$color_grey: #fafafa;
$color_grey2: #e6e6e6;
$color_orange_light: #fa700b;
$color_orange_dark: #f83e11;
$color_purple: #551a8b;
$color_black: #000;
$color_black2: #353535;
//Fonts
$font_size_nav_mobile: 16px;
$font_size_nav_tablet: 18px;

$font_size_footer_nav_mobile: 14px;
$font_size_footer_nav_tablet: 17px;

$font_size_title_mobile: 16px;
$font_size_title_tablet: 18px;
$font_size_title_desktop: 21px;
$font_size_title_large: 25px;

$font_size_kind_mobile: 13px;
$font_size_kind_tablet: 15px;
$font_size_kind_desktop: 18px;
$font_size_kind_large: 22px;

//Radius
$little_radius: 4px;
$medium_radius: 8px;
$big_radius: 12px;
$circle_radius: 50%;

//Offsets
$mobile_offset: 10px;
$desktop_offset: 24px;

//Shadows
$default_shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);

//Other
$max_container: 1200px;
// $shadow_default: 0 0 30px -10px $color_grey2;
$shadow_default: 0 0 22px 2px $color_grey2;
$shadow_default_bottom: 0 8px 12px -2px $color_grey2;
