* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

@font-face {
  font-family: 'Righteous';
  src: url(../../fonts/Righteous-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    height: 3px;
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: $color_accent;
  }
  scrollbar-width: thin;
}
body {
  @include fs('content');
  @include transition();
  // font-family: 'Anonymous Pro', monospace;
  font-family: 'Montserrat', sans-serif;
  background: $color_main;
  color: $color_accent;
  pointer-events: none;
  opacity: 0.5;
  /* Высота для мобилок */
  min-height: 100vh;
  min-height: -webkit-fill-available;
  &.disabled-scroll {
    overflow: hidden;
    touch-action: none;
    .nav-shape {
      overflow: hidden;
      touch-action: none;
    }
    .container {
      pointer-events: none;
    }
  }
  .container {
    min-height: calc(100vh - 60px - 60px);
    &.snap {
      position: relative;
      z-index: 1;
      background-color: $color_main;
      padding-bottom: 30px;
      margin-bottom: 70px;
      min-height: calc(100vh - 60px);
      box-shadow: $shadow_default_bottom;
    }
  }
}
ul,
li,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
a:focus,
button:focus {
  outline: inherit;
}

/* Убираем дефолтные стрелки input Chrome n FireFox */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  //проверить ''
  -webkit-appearance: none;
}
input[type='number'] {
  //проверить ''
  -moz-appearance: textfield;
}

.app-load {
  pointer-events: auto;
  opacity: 1;
}

.only-tablet {
  display: none;
}

.hidden {
  display: none;
}

.dont-touch {
  pointer-events: none;
}

.arrow:focus,
a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  box-shadow: none;
  outline-offset: none;
}

@include breakpoint($tablet) {
  body {
    .container {
      min-height: calc(100vh - 95px - 65px);
      &.snap {
        position: relative;
        z-index: 1;
        background-color: $color_main;
        padding-bottom: 50px;
        margin-bottom: 100px;
        min-height: calc(100vh - 95px);
      }
    }
  }
  .only-mobile {
    display: none;
  }

  .only-tablet {
    display: block;
  }
}

@include breakpoint($desktop) {
  html {
    &::-webkit-scrollbar {
      width: 7px;
    }
  }
}

@include breakpoint($large) {
  html {
    &::-webkit-scrollbar {
      width: 8px;
    }
  }
}
