.card {
  position: relative;
  display: grid;
  text-align: center;
  width: 100%;
  overflow: hidden;
  &.loading {
    @include loading();
  }
  &__inner {
    @include bg();
    @include padding-hack(65%);
    @include transition();
    position: relative;
    z-index: 6;
    opacity: 0;
    &.loaded {
      @include transition();
      opacity: 1;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1;
    }
  }
  &-info {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    color: $color_white;
    padding: 0 10px;
    &__title {
      @include fs('card-title');
      margin-bottom: 5px;
      font-weight: 800;
    }
    &__kind {
      @include fs('card-kind');
      font-style: italic;
    }
  }
  &--first {
    grid-area: c1;
  }
  &--second {
    grid-area: c2;
  }
  &:nth-child(3) {
    grid-area: c3;
  }
  &:nth-child(4) {
    grid-area: c4;
  }
  &:nth-child(5) {
    grid-area: c5;
  }
  &:nth-child(6) {
    grid-area: c6;
  }
  &:nth-child(7) {
    grid-area: c7;
  }
  &:nth-child(8) {
    grid-area: c8;
  }
  &:nth-child(9) {
    grid-area: c9;
  }
  &:nth-child(10) {
    grid-area: c10;
    display: none;
  }
  @include breakpoint($tablet) {
    &:nth-child(9) {
      display: none;
    }
  }
  @include breakpoint($desktop) {
    transition: 0.3s;
    overflow: hidden;
    &__inner {
      transition: 0.3s;
      &::before {
        transition: 0.3s;
        background-color: rgba(0, 0, 0, 0);
      }
    }
    &-info {
      transition: 0.4s;
      opacity: 0;
      top: 100%;
      padding: 0 30px;
    }
    &:nth-child(9),
    &:nth-child(10) {
      display: block;
    }
    &:hover {
      .card__inner {
        transform: scale(1.15);
        &::before {
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
      .card-info {
        opacity: 1;
        top: 50%;
      }
    }
  }
  @include breakpoint($large) {
    &:hover {
      .card-info {
        padding: 0 50px;
      }
    }
    &:nth-child(10) {
      display: none;
    }
  }
}
