.catalog {
  margin-bottom: 50px;
  &-all {
    padding: 20px 0 10px;
    width: fit-content;
    margin: 0 auto;
    &__link {
      font-size: 16px;
      color: $color_accent;
      @include fake() {
        @include transition();
        bottom: -3px;
        left: 0;
        width: 100%;
        background-color: $color_accent;
        opacity: 0.5;
        height: 2px;
      }
      &:hover,
      &:focus,
      &:active {
        @include fake() {
          width: 120%;
          left: -10%;
        }
      }
    }
  }
  @include breakpoint($middle-mobile) {
    &-cards {
      display: flex;
      flex-wrap: wrap;
    }
  }
  @include breakpoint($tablet) {
    &-all {
      &__link {
        font-size: 18px;
      }
    }
  }
  @include breakpoint($desktop) {
    margin-bottom: 70px;
  }
}
