.cookies {
  @include transition();
  position: fixed;
  right: 0;
  bottom: -100px;
  background: $color_accent;
  color: $color_main;
  width: 100%;
  z-index: 6;
  box-sizing: border-box;
  padding: 12px 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  &.active {
    bottom: -1px;
  }
  &__btn {
    @include transition;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 12px;
    margin-left: 10px;
    background-color: $color_orange_light;
    color: $color_white;
    border-radius: 26px;
    border: 0px;
    white-space: nowrap;
    cursor: pointer;
  }
  @include breakpoint($tablet) {
    &__btn {
      font-size: 17px;
      padding: 8px 16px;
    }
  }
}
