.header {
  position: relative;
  height: 60px;
  &__container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(248, 248, 248, 0.95);
    box-shadow: $shadow_default;
  }
  &-list {
    display: none;
  }
  &__inner {
    padding: 12px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
  }
  .logo {
    width: 185px;
    &__img {
      @include bg();
      background-image: url(../../img/logo_mobile.svg);
      height: 33px;
    }
  }
  @include breakpoint($tablet) {
    &-list {
      display: flex;
      width: 40%;
      &__item:not(:last-child) {
        margin-right: 19px;
      }
      &__link {
        @include transition();
        font-size: $font_size_nav_mobile;
        color: $color_accent;
        position: relative;
        font-weight: 600;
        &.active {
          &::after {
            transform: translateY(0px);
            opacity: 0.5;
            height: 2px;
          }
        }
        &::after {
          content: '';
          position: absolute;
          bottom: -3px;
          left: 0;
          width: 100%;
          transform: translateY(5px);
          transition: 0.4s;
          height: 0px;
          background-color: $color_accent;
          opacity: 0;
        }
        &:hover,
        &:focus,
        &:active {
          &::after {
            transform: translateY(0);
            opacity: 0.5;
            height: 2px;
          }
        }
      }
      &--left {
        margin-right: auto;
      }
      &--right {
        margin-left: auto;
        justify-content: flex-end;
        align-items: center;
      }
    }
    .logo {
      &__img {
        background-size: contain;
        height: 45px;
      }
    }
    .social-list {
      justify-content: end;
      padding: 0;
      width: fit-content;
      &__item {
        border: none;
        width: fit-content;
        margin-right: 19px;
      }
      .nav-link {
        &--telegram {
          background-image: url(../../img/telegram_r.svg);
        }
        &--phone {
          background-image: url(../../img/phone_r.svg);
          height: 22px;
          width: 22px;
        }
        &--mail {
          background-image: url(../../img/mail_r.svg);
          height: 26px;
          width: 26px;
        }
      }
    }
  }
  @include breakpoint($desktop) {
    &-list {
      &__link {
        font-size: $font_size_nav_tablet;
      }
    }
    &__inner {
      padding: 12px $desktop_offset;
    }
    .social-list {
      &__item {
        &.not-desktop {
          display: none;
        }
      }
    }
  }
}
