.header {
  position: relative;
  height: 60px;
  &__container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(248, 248, 248, 0.8);
    box-shadow: $shadow_default;
  }
  &-list {
    display: none;
  }
  &__inner {
    padding: 12px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
  }
  .logo {
    width: 185px;
    &__img {
      @include bg();
      background-image: url(../../img/logo_mobile.svg);
      height: 33px;
    }
  }
  @include breakpoint($tablet) {
    height: 95px;
    &-list {
      display: flex;
      width: 40%;
      &__item:not(:last-child) {
        margin-right: 19px;
      }
      &__link {
        @include transition();
        font-size: $font_size_nav_mobile;
        color: $color_accent;
        position: relative;
        &.active {
          &::after {
            transform: translateY(0px);
            opacity: 0.5;
            height: 2px;
          }
        }
        &::after {
          content: '';
          position: absolute;
          bottom: -3px;
          left: 0;
          width: 100%;
          transform: translateY(5px);
          transition: 0.4s;
          height: 0px;
          background-color: $color_accent;
          opacity: 0;
        }
        &:hover,
        &:focus,
        &:active {
          &::after {
            transform: translateY(0);
            opacity: 0.5;
            height: 2px;
          }
        }
      }
      &--left {
        margin-right: auto;
      }
      &--right {
        margin-left: auto;
        justify-content: flex-end;
      }
    }
    .logo {
      width: 74px;
      &__img {
        background-image: url(../../img/logo.svg);
        height: 70px;
      }
    }
  }
  @include breakpoint($desktop) {
    &-list {
      &__link {
        font-size: $font_size_nav_tablet;
      }
    }
    &__inner {
      padding: 12px $desktop_offset;
    }
  }
}
