.main {
  &-title {
    text-align: center;
    padding: 30px 10px;
    h1 {
      font-size: 29.4px;
      background: radial-gradient(circle farthest-corner at center, $color_orange_light, $color_accent 25%);
      animation: preloader 10s ease infinite;
      background-size: 300%;
      background-clip: text;
      color: transparent;
    }
    &.no-caption {
      padding: 20px 0;
    }
  }
  @include breakpoint($tablet) {
    &-title {
      padding: 50px 10px;
    }
  }
  @include breakpoint($desktop) {
    &-title {
      padding: 60px 24px;
    }
  }
}
