.slider {
  position: relative;
  overflow: hidden;
  .swiper-container {
    .swiper-wrapper {
      display: flex;
      .swiper-slide {
        flex-shrink: 0;
      }
    }
  }
  &-pagination {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    .arrow {
      position: absolute;
      display: flex;
      top: 50%;
      transform: translateY(-50%);
      justify-content: center;
      align-items: center;
      width: 18px;
      height: 42px;
      background-color: $color_white;
      border-radius: 50%;
      opacity: 0.6;
      cursor: pointer;
      &-prev {
        @include bg(20px, 22px 50%);
        background-image: url(../../img/arrow_prev.svg);
        padding-left: 15px;
        padding-right: 13px;
        left: -25px;
      }
      &-next {
        @include bg(20px, 4px 50%);
        background-image: url(../../img/arrow_next.svg);
        padding-right: 15px;
        padding-left: 13px;
        right: -25px;
      }
    }
  }
}
