{% extends "index.html" %} {% block content %}
<section class="container container-about" data-app-container>
  <div class="main-title{% if page.caption == '' %} no-caption{% endif %}">
    {% if page.caption %}
    <h1>{{page.caption}}</h1>
    {% endif %}
  </div>
  <div class="about__wrapper wrapper">
    {% if page.img %} {% set item = {img: page.img} %}
    <div class="wrapper-image">{% include 'components/default_image.html'%}</div>
    {% endif %}
    <div class="wrapper-info">
      <ul class="wrapper-info__list">
        <li class="wrapper-info__item">
          <div class="title">
            SOUND
            <div class="desc">
              <div class="desc__title">
                <div class="divide">
                  <div class="divide__item">post production</div>
                  <div class="divide__item">[sound design & music] for:</div>
                </div>
              </div>
              commercials<br />
              short films<br />
              animation and motion graphics<br />
              radio programs, lectures, podcasts, interviews<br />
              other video and animation products<br />
            </div>
            <div class="desc">
              <div class="desc__title">also:</div>
              audio branding <br />
              field | on-set recording <br />
              audio editing | restoration <br />
            </div>
          </div>
        </li>
        <!-- <li class="wrapper-info__item">
          <div class="title">
            VISUALS
            <div class="desc">
              <div class="divide">
                <div class="divide__item">generative digital art</div>
                <div class="divide__item">[motion graphics]</div>
              </div>
              <div class="divide">
                <div class="divide__item">graphic design</div>
                <div class="divide__item">[logos, covers, posters]</div>
              </div>
            </div>
          </div>
        </li> -->
        <li class="wrapper-info__item">
          <div class="title sub-title">
            FEEL FREE TO CONTACT US
            <ul class="social-list">
              <a href="https://wa.me/+79966276231" target="_blank" class="social-list__item">
                <span class="nav-link nav-link--whatsapp"></span>
                <span class="nav-text">WhatsApp</span>
              </a>
              <a href="https://t.me/ufsound" target="_blank"class="social-list__item">
                <span class="nav-link nav-link--telegram"></span>
                <span class="nav-text">Telegram</span>
              </a>
            </ul>
            <a class="contact-link" href="tel:+79966276231" class="header-list__link">+79966276231</a>
            <a class="contact-link" href="mailto:diada.prod@gmail.com" class="header-list__link">diada.prod@gmail.com</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="wrapper-image">
      <div class="default-image">
        <div class="default-image__inner" style="background-image: url(../../img/services.png)"></div>
      </div>
    </div>
    <div class="only-mobile">{% include "components/social_list.html" %}</div>
    <!-- <div class="only-tablet arrow-down" data-app-arrow-down>
            Other links
        </div> -->
  </div>
</section>
{% endblock %}
