{% extends "index.html" %} 
{% block content %}
    <section class="container card-view" data-app-container>
        <div class="main-title">
            <h1>{{ item.title }}</h1>
        </div>
        <meta property="og:type" content="article">
        <meta property="og:title" content="{{ item.title }}">
        <meta property="og:url" content="https://{{page.canonical}}">
        {% if item.description %}
            <meta property="og:description" name="description" content="{{ item.description }}">
        {% endif %}
        <meta property="og:image" content="{{page.img}}">
        <div class="card-view__wrapper wrapper">
            {% if item.images|length > 1 or item.images|length === 1 and (item.videos|length or item.embedVideo|length) %}
                <div class="slider card-slider">
                    <div class="swiper-container has-thumbs" data-app-slider="projects" data-app-swiper-container>
                        <div class="swiper-wrapper">
                            <!-- Video -->
                            {% for _video in item.videos %}
                                <div class="swiper-slide card-slider__slide card-slider__slide_video">
                                    <div class="wrapper-video">
                                        <video class="video" src="{{_video.url}}" type="{{_video.mime}}" preload="auto" loop playsinline controls></video>
                                    </div>
                                </div>
                            {% endfor %}
                            {% for _video in item.embedVideo %}
                                <div class="swiper-slide card-slider__slide card-slider__slide_video">
                                    <div class="wrapper-video">
                                        {{ _video }}
                                    </div>
                                </div>
                            {% endfor %}
                            <!-- Img -->
                            {% for _img in item.images %}
                                <div class="swiper-slide card-slider__slide">
                                    <div class="wrapper-image">
                                        <div class="default-image">
                                            <div class="default-image__inner" style="background-image: url({{_img}});"></div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        {% include 'components/pagination.html' %}
                    </div>
                </div>
                <div class="slider card-thumb">
                    <div class="swiper-container thumbs-slider" data-app-slider-thumbs="projects">
                        <div class="swiper-wrapper">
                            <!-- Video -->
                            {% for _video in item.videos %}
                                <div class="swiper-slide card-thumb__slide">
                                    <div class="wrapper-image">
                                        <div class="default-image">
                                            <div class="default-image__inner default-image--empty"></div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            {% for _video in item.embedVideo %}
                                <div class="swiper-slide card-thumb__slide">
                                    <div class="wrapper-image">
                                        <div class="default-image">
                                            <div class="default-image__inner default-image--empty"></div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <!-- Img -->
                            {% for _img in item.images %}
                                <div class="swiper-slide card-thumb__slide">
                                    <div class="wrapper-image">
                                        <div class="default-image">
                                            <div class="default-image__inner" style="background-image: url({{_img}});"></div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% else %} 
                <div class="wrapper-image">
                    {% include 'components/default_image.html' %}
                </div>
            {%endif%}
            {%if item.embedAudio%}
                <div class="wrapper-audio">
                    {{ item.embedAudio }}
                </div>
            {%endif%}
            <div class="wrapper-info">
                <ul class="wrapper-info__list">
                    {% if item.service %}
                        <li class="wrapper-info__item">
                            <div class="title">Service:</div>
                            <div class="desc">{{ item.service }}</div>
                        </li>
                    {% endif %}
                    {% if item.client %}
                        <li class="wrapper-info__item">
                            <div class="title">Client:</div>
                            <div class="desc">{{ item.client }}</div>
                        </li>
                    {% endif %}
                    {% if item.date %}
                        <li class="wrapper-info__item">
                            <div class="title">Date:</div>
                            <div class="desc">{{ item.date }}</div>
                        </li>
                    {% endif %}
                    {% if item.description %}
                        <li class="wrapper-info__item">
                            <div class="title">Description: <span class="desc">{{ item.description }}</span></div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </section>
{% endblock %}
