{% extends "index.html" %} 
{% block content %}
    <section class="container card-view" data-app-container>
        <!-- @todo Выводить фото или видео/посмотреть как выводится видео -->
        <div class="main-title">
            <h1>{{ item.title }}</h1>
        </div>
        <div class="card-view__wrapper wrapper">
            <div class="wrapper-image">
                {% include 'components/default_image.html' %}
            </div>
            <div class="wrapper-info">
                <ul class="wrapper-info__list">
                    {% if item.service %}
                        <li class="wrapper-info__item">
                            <div class="title">Service:</div>
                            <div class="desc">{{ item.service }}</div>
                        </li>
                    {% endif %}
                    {% if item.client %}
                        <li class="wrapper-info__item">
                            <div class="title">Client:</div>
                            <div class="desc">{{ item.client }}</div>
                        </li>
                    {% endif %}
                    {% if item.date %}
                        <li class="wrapper-info__item">
                            <div class="title">Date:</div>
                            <div class="desc">{{ item.date }}</div>
                        </li>
                    {% endif %}
                    {% if item.description %}
                        <li class="wrapper-info__item">
                            <div class="title">Description: <span class="desc">{{ item.description }}</span></div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </section>
{% endblock %}
