<a href="/work/{{item.slug}}" 
  class="card{% if loop.index0 == 0 %} card--first {% elseif loop.index0 == 1 %} card--second{% endif %} loading{% if not page.request.query.content_type or (item.contentType and item.visible) %} active{% endif %}"
  data-app-content-type="{{item.contentType}}">
  <div class="card__inner" data-app-catalog-img="{{item.img}}">
    <div class="card-info">
      <div class="card-info__title">{{item.title}}</div>
      <div class="card-info__kind">{{item.service}}</div>
    </div>
  </div>
</a>
