<header class="header" data-app-header>
  <div class="header__container">
    <div class="header__inner">
      <ul class="header-list header-list--left">
        {% set navItems = [
          {title: 'Home', link: '/', active: 'main'},
          {title: 'Works', link: '/works', active: 'works'},
          {title: 'About', link: '/about', active: 'about'}
          ] 
        %}
        {% for item in navItems %}
          <li class="header-list__item">
            <a href="{{ item.link }}" class="header-list__link{% if page.active == item.active %} active{% endif %}">{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
      <div class="logo">
        <a {% if page.active != 'main' %}href="/"{% endif %} class="logo__link">
          <div class="logo__img"></div>
        </a>
      </div>
      <ul class="header-list header-list--right">
        <li class="header-list__item"><a href="mailto:diada.prod@gmail.com" class="header-list__link">diada.prod@gmail.com</a></li>
      </ul>
    </div>
  </div>
</header>
