<header class="header" data-app-header>
  <div class="header__container">
    <div class="header__inner">
      <ul class="header-list header-list--left">
        <!-- @todo перебирать ссылки форычом/active -->
        <li class="header-list__item"><a href="/" class="header-list__link active">Home</a></li>
        <li class="header-list__item"><a href="/works" class="header-list__link">Works</a></li>
        <li class="header-list__item"><a href="/reviews" class="header-list__link">Reviews</a></li>
      </ul>
      <div class="logo">
        <!-- @todo лого линк -->
        <a href="/" class="logo__link">
          <div class="logo__img"></div>
        </a>
      </div>
      <ul class="header-list header-list--right">
        <!-- @todo перебирать ссылки форычом -->
        <li class="header-list__item"><a href="/about" class="header-list__link">About</a></li>
        <li class="header-list__item"><a href="mailto:diada@gmail.com" class="header-list__link">diada@gmail.com</a></li>
      </ul>
    </div>
  </div>
</header>
