<header class="header" data-app-header>
  <div class="header__container">
    <div class="header__inner">
      <ul class="header-list header-list--left">
        <!-- {title: 'Works', link: '/works', active: 'works'}, -->
        <!-- {title: 'About', link: '/about', active: 'about'} -->
        {% set navItems = [
          {title: 'Work', link: '/', active: 'main'},
          {title: 'Services', link: '/services', active: 'services'}
          ] 
        %}
        {% for item in navItems %}
          <li class="header-list__item">
            <a href="{{ item.link }}" class="header-list__link{% if page.active == item.active %} active{% endif %}">{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
      <div class="logo">
        <!-- <a {% if page.active != 'main' %}href="/"{% endif %} class="logo__link"> -->
        <a href="/" class="logo__link">
          <div class="logo__img"></div>
        </a>
      </div>
      <ul class="header-list header-list--right">
        <ul class="social-list">
          <li class="social-list__item"><a href="https://t.me/ufsound" target="_blank" class="nav-link nav-link--telegram"></a></li>
          <li class="social-list__item"><a href="https://wa.me/+79966276231" target="_blank" class="nav-link nav-link--whatsapp"></a></li>
          <li class="social-list__item not-desktop"><a href="tel:+79966276231" target="_blank" class="nav-link nav-link--phone"></a></li>
          <li class="social-list__item not-desktop"><a href="mailto:diada.prod@gmail.com" target="_blank" class="nav-link nav-link--mail"></a></li>
        </ul>
        <li class="header-list__item only-desktop"><a href="tel:+79966276231" class="header-list__link">+79966276231</a></li>
        <li class="header-list__item only-desktop"><a href="mailto:diada.prod@gmail.com" class="header-list__link">diada.prod@gmail.com</a></li>
      </ul>
    </div>
  </div>
</header>
