<nav class="nav-bar" data-app-nav-container>
  <div class="toggle-menu" data-app-nav-btn>
    <div class="line line1"></div>
    <div class="line line2"></div>
    <div class="line line3"></div>
  </div>
  <div class="nav-bar__content">
    <ul class="nav-list">
      <!-- {title: 'Works', link: '/works', active: 'works'}, -->
      <!-- {title: 'About', link: '/about', active: 'about'} -->
      {% set navItems = [
        {title: 'Work', link: '/', active: 'main'},
        {title: 'Services', link: '/services', active: 'services'}
        ] 
      %}
      {% for item in navItems %}
        <li class="nav-list__item">
          <a href="{{ item.link }}" class="nav-link{% if page.active == item.active %} active{% endif %}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
    <div class="nav-bar__footer">
      <div class="mail">
        <a href="mailto:diada.prod@gmail.com" class="mail__link">diada.prod@gmail.com</a>
      </div>
      {% include "components/social_list.html" %}
    </div>
  </div>
</nav>
<div class="nav-shape" data-app-shape></div>
