<ul class="social-list">
  <!-- @todo перебирать ссылки форычом -->
  <li class="social-list__item"><a href="https://t.me/diada_studio" target="_blank" class="nav-link nav-link--telegram"></a></li>
  <li class="social-list__item"><a href="https://soundcloud.com/diada_studio" target="_blank" class="nav-link nav-link--soundcloud"></a></li>
  <li class="social-list__item"><a href="https://www.instagram.com/diada.studio" target="_blank" class="nav-link nav-link--inst"></a></li>
  <li class="social-list__item"><a href="https://www.youtube.com/channel/UCCFkj7LUA6EFgastmJGUaxg" target="_blank" class="nav-link nav-link--youtube"></a></li>
  <li class="social-list__item"><a href="https://vk.com/diada.studio" target="_blank" class="nav-link nav-link--vk"></a></li>
  <!-- <li class="social-list__item"><a href="#" target="_blank" class="nav-link nav-link--upwork"></a></li> -->
</ul>
